## ENVIRONMENT data
## delete `!.env` and uncomment '.env' for use
#.env
!.env

# Data folder
data/grafana/data/*
data/grafana/logs/*
data/prometheus/configs/*
data/prometheus/data/*

# track grafana's config files
!data/grafana/configs/.gitkeep
!data/grafana/data/.gitkeep
!data/grafana/logs/.gitkeep

# track prometheus's config files
!data/prometheus/.gitkeep
!data/prometheus/configs/.gitkeep
!data/prometheus/configs/prometheus.yml
!data/prometheus/data/.gitkeep